:root {
  --font-family: "Helvetica", sans-serif;
  --content-width: 1200px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white: #fff;
  --black: #000;
  --orange: #FF6B00;
  --blue: #3478F6;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.orange-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: -o-linear-gradient(353.83deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
  background: linear-gradient(96.17deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
  border-radius: 40px;
}
.orange-btn:hover {
  background: -o-linear-gradient(29.83deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
  background: linear-gradient(60.17deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
}
.orange-btn:active {
  background: -o-linear-gradient(59.83deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
  background: linear-gradient(30.17deg, #FF6B00 5.39%, #FF9243 74.1%, #FF6B00 106.87%);
}

.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #302B29;
}

[class*=copyrights-pane] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.header {
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.visible {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header.active {
  background-color: #ebf4fd;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  max-width: 148px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 20px 45px;
}
.header__right {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.header__phone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__phone svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}
.header__burger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.burger {
  --burger-width: 20px;
  --burger-height: 18px;
  --burger-line-height: 4px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 10px;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 10px;
}
.burger--active::before {
  top: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 45%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav {
  width: 100%;
  max-width: 672px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.nav__list a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  color: #7B7B7B;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.nav__list a:hover {
  color: var(--black);
}

.header__menu {
  display: none;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 400;
  }
  .header__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .header__menu.menu--active {
    right: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .header__menu .nav {
    display: block;
    margin-bottom: 30px;
  }
  .header__menu .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__menu .header__btn {
    display: block;
  }
  .header__logo {
    position: relative;
    z-index: 400;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 10px 0;
  }
  .header__logo {
    max-width: 100px;
  }
}
.hero {
  min-height: 900px;
  background: url("../img/hero-bg-desk.webp") no-repeat center;
  background-size: cover;
  padding-top: 200px;
}
.hero__head {
  margin-bottom: 40px;
}
.hero__head h1 {
  font-weight: 700;
  font-size: 59px;
  line-height: 125%;
  color: #302B29;
  margin-bottom: 20px;
}
.hero__head p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7B7B7B;
  max-width: 500px;
}
.hero__btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  padding: 32px 80px;
  background-color: #0085FF;
  -webkit-box-shadow: 0px 4px 0px #006CDC, inset 0px 4px 20px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 0px #006CDC, inset 0px 4px 20px rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: inline-block;
}
.hero__btn:hover {
  background-color: #1d8ef7;
}
.hero__btn:active {
  background-color: #0079ea;
}

@media (max-width: 1200px) {
  .hero {
    background-position: 45%;
  }
  .hero__head h1 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .hero {
    min-height: 800px;
  }
  .hero__head {
    margin-bottom: 30px;
  }
  .hero__head h1 {
    font-size: 40px;
  }
  .hero__head p {
    font-size: 17px;
    max-width: 400px;
  }
  .hero__btn {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
@media (max-width: 650px) {
  .hero {
    background: url("../img/hero-bg-mob.webp") no-repeat center;
    padding-top: 110px;
  }
  .hero__head {
    margin-bottom: 30px;
  }
  .hero__head h1 {
    font-size: 30px;
  }
  .hero__head p {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .hero {
    padding-top: 90px;
    background-position: 60%;
  }
  .hero__btn {
    width: 100%;
    text-align: center;
    padding: 23px;
    font-size: 18px;
    line-height: 26px;
  }
}
.service {
  padding: 120px 0 0;
}
.service h2 {
  text-align: center;
  margin-bottom: 60px;
}
.tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 278px 1fr;
  grid-template-columns: 278px 1fr;
  gap: 30px;
}
.tab__btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 12px;
}
.tab__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 20px 8px 20px 20px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 13px rgba(216, 235, 255, 0.46);
  box-shadow: 0px 4px 13px rgba(216, 235, 255, 0.46);
  border-radius: 10px;
  width: 100%;
  -webkit-transition: background-color color 0.2s;
  -o-transition: background-color color 0.2s;
  transition: background-color color 0.2s;
  height: 68px;
}
.tab__btn.high {
  height: 89px;
}
.tab__btn:hover {
  background-color: #CEDFFD;
}
.tab__btn.active {
  background-color: #CEDFFD;
}
.tab__btn.active span {
  font-weight: 700;
}
.tab__btn svg {
  width: 30px;
  height: 30px;
  fill: var(--blue);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  pointer-events: none;
}
.tab__btn span {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--blue);
  text-align: left;
  pointer-events: none;
}
.tab__content {
  display: none;
  background: #F7F9FB;
  border: 15px solid #FFFFFF;
  -webkit-box-shadow: 0px 4px 27px rgba(216, 235, 255, 0.46);
  box-shadow: 0px 4px 27px rgba(216, 235, 255, 0.46);
  border-radius: 30px;
}
.tab__content.active {
  display: block;
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--blue);
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/checked.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.tab-1 {
  padding: 34px;
}
.tab-1 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #302B29;
  margin-bottom: 30px;
}
.tab-1 .custom-checkbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}
.tab-1 .custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.tab-1 .custom-checkbox__content {
  cursor: pointer;
}
.tab-1 .custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--blue);
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
}
.tab-1 .custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/checked.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.tab-1 .custom-checkbox__content {
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #302B29;
}
.tab-1 .custom-checkbox__content::before, .tab-1 .custom-checkbox__content::after {
  top: -5px;
}

.tab__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tab__form-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.tab__form-group {
  position: relative;
}
.tab__form-group:nth-child(5) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.tab__form-group svg {
  width: 20px;
  height: 20px;
  fill: #CEDFFD;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tab__form-group input {
  outline: none;
  width: 100%;
  padding: 29px 20px 29px 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #302B29;
  background: var(--white);
  border-radius: 10px;
}
.tab__form-group input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group input::-moz-placeholder {
  color: #d9d9d9;
}
.tab__form-group input:-ms-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group input::-ms-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group input::placeholder {
  color: #d9d9d9;
}
.tab__form-group input:focus + svg {
  fill: var(--blue);
}
.tab__form-group input:focus::-webkit-input-placeholder {
  color: transparent;
}
.tab__form-group input:focus::-moz-placeholder {
  color: transparent;
}
.tab__form-group input:focus:-ms-input-placeholder {
  color: transparent;
}
.tab__form-group input:focus::-ms-input-placeholder {
  color: transparent;
}
.tab__form-group input:focus::placeholder {
  color: transparent;
}
.tab__form-group textarea {
  width: 100%;
  resize: none;
  height: 140px;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #302B29;
  background: var(--white);
  border-radius: 10px;
  outline: none;
}
.tab__form-group textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.tab__form-group textarea:focus::-moz-placeholder {
  color: transparent;
}
.tab__form-group textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.tab__form-group textarea:focus::-ms-input-placeholder {
  color: transparent;
}
.tab__form-group textarea:focus::placeholder {
  color: transparent;
}
.tab__form-group textarea::-webkit-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group textarea::-moz-placeholder {
  color: #d9d9d9;
}
.tab__form-group textarea:-ms-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group textarea::-ms-input-placeholder {
  color: #d9d9d9;
}
.tab__form-group textarea::placeholder {
  color: #d9d9d9;
}
.tab__form-btn {
  padding: 29px 60px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.tab__content.tab-bg {
  background: url("../img/second-tab-bg.webp") no-repeat center;
  background-size: cover;
}

.second {
  padding: 50px 50px 10px;
  position: relative;
  z-index: 2;
}
.second h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
  margin-bottom: 20px;
}
.second p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* text-align: center; */
  color: #7B7B7B;
  margin-bottom: 10px;
}
.second__img {
  max-width: 592px;
  margin: 0 auto;
}

.third {
  padding: 50px 0 50px 50px;
}
.third h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--black);
  margin-bottom: 15px;
}
.third__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.third__info {
  width: 43%;
  max-width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.third__info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7B7B7B;
}
.third__img {
  width: 50%;
}

.tab__content-4 {
  height: 100%;
}

.fourth {
  height: 100%;
  padding-right: 25px;
  padding-left: 35px;
}
.fourth__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}
.fourth__img {
  width: 70%;
  max-width: 629px;
}
.fourth__info {
  position: absolute;
  left: 0;
  top: 135px;
  max-width: 270px;
}
.fourth__info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
  color: var(--black);
}
.fourth__info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7B7B7B;
}

.fifth__img {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.fifth__img-big {
  height: 100%;
}
.fifth__img-big img {
  height: 100%;
}
.fifth__img-small {
  display: none;
}

.tab-5__scroll-touch {
  display: none;
}

.tab-7__scroll-touch {
  display: none;
}

.tab-8__scroll-touch {
  display: none;
}

.tab__content-6 {
  height: 100%;
}

.reports {
  height: 100%;
}
.reports__swiper {
  height: 100%;
}
.reports__swiper .swiper-wrapper {
  height: 100%;
}
.reports__swiper .swiper-slide {
  height: 100%;
}
.reports__swiper-btns {
  position: absolute;
  left: 45px;
  bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
.reports__swiper-btns .slide-prev {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.reports__swiper-btns .slide-prev.swiper-button-disabled svg {
  stroke: #E8E8E8;
}
.reports__swiper-btns .slide-prev svg {
  stroke: #3478F6;
}
.reports__swiper-btns .slide-next {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.reports__swiper-btns .slide-next.swiper-button-disabled svg {
  stroke: #E8E8E8;
}
.reports__swiper-btns .slide-next svg {
  stroke: #3478F6;
  pointer-events: none;
}
.reports__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}
.reports__info {
  width: 40%;
  max-width: 275px;
  position: absolute;
  left: 45px;
  top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
}
.reports__info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
}
.reports__info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6C6F7B;
}
.reports__img {
  width: 90%;
  max-width: 762px;
}

.tab__content-8 {
  position: relative;
}

.machine__info {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 275px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 40px 20px;
}
.machine__info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--black);
  margin-bottom: 30px;
}

.machine__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
}
.machine__list li {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.machine__list li:not(:last-child) {
  border-bottom: 1px solid #E8E8E8;
}
.machine__list li .machine__list-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #FFEDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.machine__list li .machine__list-icon svg {
  width: 35px;
  height: 35px;
  fill: var(--orange);
}
.machine__list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #302B29;
}

@media (max-width: 1100px) {
  .reports__img {
    margin-top: auto;
  }
  .machine__info {
    max-width: 100%;
    top: auto;
    right: auto;
    bottom: -200px;
    left: 0;
  }
  .machine__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .tab {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .tab__btns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .tab__btns button.high {
    height: 68px;
  }
  .fourth__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .fourth__info {
    top: 50px;
  }
  .reports__info {
    left: 30px;
    top: 30px;
  }
  .reports__img {
    width: 80%;
  }
  .reports__swiper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reports__swiper-btns {
    left: 30px;
    bottom: 20px;
  }
}
@media (max-width: 768px) {
  .service {
    padding-top: 60px;
  }
}
@media (max-width: 650px) {
  .third {
    padding: 20px;
  }
  .third__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
  }
  .third__info {
    width: 100%;
    max-width: 100%;
  }
  .third__img {
    width: 100%;
  }
  .fourth__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  .fourth__info {
    position: relative;
    top: auto;
    max-width: 100%;
    text-align: center;
  }
  .fourth__img {
    width: 100%;
    max-width: 100%;
  }
  .reports__inner {
    display: block;
    height: auto;
  }
  .reports__info {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-width: 100%;
  }
  .reports__swiper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .reports__swiper .swiper-wrapper {
    height: auto;
  }
  .reports__swiper-btns {
    position: relative;
    left: auto;
    bottom: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .reports__img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .service h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .tab__btn {
    height: 50px;
    border-radius: 6px;
  }
  .tab__btn svg {
    width: 20px;
    height: 20px;
  }
  .tab__btn span {
    font-size: 16px;
    line-height: 20px;
  }
  .tab__btns button.high {
    height: 50px;
  }
  .tab-1 {
    padding: 30px 20px;
  }
  .tab-1 h3 {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .tab-1 .custom-checkbox {
    padding-left: 35px;
  }
  .tab-1 .custom-checkbox__content {
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
  }
  .tab-1 .custom-checkbox__content::before, .tab-1 .custom-checkbox__content::after {
    left: -40px;
  }
  .tab__form-inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-bottom: 12px;
  }
  .tab__form-group:nth-child(5) {
    grid-column: auto;
  }
  .tab__form-group:nth-child(5) textarea {
    height: 120px;
  }
  .tab__form-btn {
    width: 100%;
    padding: 29px;
  }
  .tab__form-group input {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .second {
    padding: 20px;
  }
  .second .second__inner h3 {
    font-size: 21px;
    line-height: 24px;
  }
  .second .second__inner p {
    font-size: 16px;
    line-height: 150%;
  }
  .tab__content.tab-bg {
    background-position: 50%;
  }
  .third__inner h3 {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .third__info p {
    font-size: 16px;
    line-height: 150%;
  }
  .third__img {
    max-width: 60%;
    margin: 0 auto;
  }
  .fifth__img-big {
    display: none;
  }
  .fifth__img-small {
    display: block;
  }
  .tab__content-5 {
    max-width: 340px;
    height: 440px;
    margin: 0 auto;
    position: relative;
  }
  .tab__content-5 .tab-5__scroll-touch {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
  .tab__content-5 .fifth {
    overflow-x: auto;
  }
  .tab__content-5 .fifth__img-small {
    width: 470px;
  }
  .fourth {
    padding-right: 20px;
    padding-left: 20px;
  }
  .fourth__info h3 {
    font-size: 21px;
    line-height: 24px;
  }
  .fourth__info p {
    font-size: 16px;
    line-height: 150%;
  }
  .reports__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .reports__info h3 {
    font-size: 21px;
    line-height: 24px;
    text-align: center;
  }
  .reports__info p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }
  .reports__swiper-btns {
    margin-top: 15px;
  }
  .tab__content-6 {
    max-width: 340px;
    margin: 0 auto;
  }
  .tab__content-7 {
    max-width: 340px;
    height: 440px;
    margin: 0 auto;
    position: relative;
  }
  .tab__content-7 .tab-7__scroll-touch {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
  .tab__content-7 .fifth {
    overflow-x: auto;
  }
  .tab__content-7 .fifth__img-small {
    width: 470px;
  }
  .tab__content-7 .fifth__img-small img {
    height: 420px;
  }
  .tab__content-8 {
    max-width: 340px;
    height: 915px;
    margin: 0 auto;
    position: relative;
  }
  .tab__content-8 .tab-8__scroll-touch {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 240px;
  }
  .tab__content-8 .fifth {
    overflow-x: auto;
  }
  .tab__content-8 .fifth__img-small {
    width: 470px;
  }
  .tab__content-8 .fifth__img-small img {
    height: 340px;
  }
  .machine__info {
    bottom: 0;
    padding: 30px 10px 10px;
  }
  .machine__info h3 {
    font-size: 21px;
    line-height: 24px;
  }
  .machine__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .machine__list li p {
    font-size: 16px;
    line-height: 18px;
  }
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
@media (max-width: 359px) {
  .tab__content-5 {
    max-width: 300px;
  }
  .tab__content-7 {
    max-width: 300px;
  }
  .tab__content-8 {
    max-width: 300px;
  }
  .tab__btn span {
    font-size: 12px;
    line-height: 20px;
  }
  .tab__content-6 {
    max-width: 300px;
    margin: 0 auto;
  }
}
.why {
  position: relative;
  top: 130px;
  z-index: 10;
}
.why h2 {
  text-align: center;
  margin-bottom: 60px;
}
.why__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.why__item {
  background: var(--white);
  -webkit-box-shadow: 0px 34px 64px rgba(111, 171, 233, 0.06);
  box-shadow: 0px 34px 64px rgba(111, 171, 233, 0.06);
  border-radius: 30px;
  padding: 30px;
}
.why__item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #302B29;
  margin-bottom: 15px;
}
.why__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #7B7B7B;
}
.why__item-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffeddd;
  margin-bottom: 30px;
}
.why__item-icon svg {
  width: 54px;
  height: 54px;
  fill: var(--orange);
}

@media (max-width: 992px) {
  .why__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .why__inner {
    gap: 10px;
  }
  .why h2 {
    font-size: 28px;
    line-height: 36px;
    max-width: 274px;
    margin: 0 auto 30px;
  }
  .why__item {
    padding: 20px;
  }
  .why__item-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .why__item-icon svg {
    width: 42px;
    height: 42px;
  }
  .why__item h3 {
    font-size: 21px;
    line-height: 24px;
  }
  .why__item p {
    font-size: 16px;
    line-height: 150%;
  }
}
.free {
  padding-top: 250px;
  padding-bottom: 580px;
  background-color: #F1F5F9;
  position: relative;
  background: url("../img/free-bg.webp") no-repeat center;
  background-size: cover;
  border-top-left-radius: 100% 60px;
  border-top-right-radius: 100% 60px;
}
.free__inner {
  position: relative;
  z-index: 5;
}
.free__info {
  max-width: 490px;
  padding-top: 155px;
  position: relative;
  z-index: 6;
}
.free__info h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #302B29;
  margin-bottom: 20px;
}
.free__info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 50px;
}
.free__btn {
  display: inline-block;
  padding: 29px 60px;
}
.free__img {
  position: absolute;
  max-width: 1171px;
  top: 0;
  right: -280px;
}

@media (max-width: 1150px) {
  .free__img {
    max-width: 954px;
    top: 53px;
  }
}
@media (max-width: 992px) {
  .free__info {
    margin-bottom: 30px;
    padding-top: 0;
  }
  .free__img {
    position: relative;
    top: auto;
    right: auto;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .free {
    padding-top: 200px;
    padding-bottom: 750px;
    background: url("../img/free-mob-bg.webp") no-repeat center;
    background-size: cover;
    background-position-y: 0;
  }
  .free__info h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .free__info p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .free__img {
    max-width: initial;
    width: 454px;
    left: -50px;
  }
}
@media (max-width: 400px) {
  .free__btn {
    width: 100%;
    padding: 22px;
    text-align: center;
  }
}
.map {
  height: 1016px;
  position: relative;
}
.map__content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -300px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  background-color: var(--white);
  padding: 80px 105px;
  -webkit-box-shadow: 0px 54px 57px rgba(191, 203, 215, 0.36);
  box-shadow: 0px 54px 57px rgba(191, 203, 215, 0.36);
  border-radius: 40px;
}

.contact__head {
  margin-bottom: 50px;
}
.contact__head h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  color: #302B29;
  max-width: 630px;
  margin: 0 auto 20px;
}
.contact__head p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #7B7B7B;
  max-width: 660px;
  margin: 0 auto;
}
.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.contact__left {
  width: 100%;
  max-width: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}
.contact__left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.contact__left-row h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #C5C3C3;
}
.contact__left-row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
}
.contact__left-row a svg {
  width: 20px;
  height: 20px;
  fill: var(--orange);
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.contact__left-row p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 8px;
}
.contact__left-row p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
}
.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.contact__socials a img {
  max-width: 50px;
}
.contact__right {
  width: 100%;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.contact__form-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}
.contact__form-group {
  position: relative;
}
.contact__form-group:nth-child(5) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.contact__form-group svg {
  width: 20px;
  height: 20px;
  fill: #cedffd;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact__form-group input {
  padding: 25px 20px 25px 48px;
  outline: none;
  width: 100%;
  background: #F7F9FB;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.contact__form-group input:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact__form-group input:focus::-moz-placeholder {
  color: transparent;
}
.contact__form-group input:focus:-ms-input-placeholder {
  color: transparent;
}
.contact__form-group input:focus::-ms-input-placeholder {
  color: transparent;
}
.contact__form-group input:focus::placeholder {
  color: transparent;
}
.contact__form-group input:focus + svg {
  fill: var(--blue);
}
.contact__form-group input::-webkit-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group input::-moz-placeholder {
  color: #D9D9D9;
}
.contact__form-group input:-ms-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group input::-ms-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group input::placeholder {
  color: #D9D9D9;
}
.contact__form-group textarea {
  padding: 25px 20px;
  outline: none;
  width: 100%;
  height: 140px;
  resize: none;
  background: #F7F9FB;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.contact__form-group textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact__form-group textarea:focus::-moz-placeholder {
  color: transparent;
}
.contact__form-group textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.contact__form-group textarea:focus::-ms-input-placeholder {
  color: transparent;
}
.contact__form-group textarea:focus::placeholder {
  color: transparent;
}
.contact__form-group textarea:focus + svg {
  fill: var(--blue);
}
.contact__form-group textarea::-webkit-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group textarea::-moz-placeholder {
  color: #D9D9D9;
}
.contact__form-group textarea:-ms-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group textarea::-ms-input-placeholder {
  color: #D9D9D9;
}
.contact__form-group textarea::placeholder {
  color: #D9D9D9;
}
.contact__form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
}
.contact__form-bottom .custom-checkbox {
  max-width: 350px;
  padding-left: 40px;
}
.contact__form-bottom .custom-checkbox__content {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #7B7B7B;
  padding-left: 0;
}
.contact__form-bottom .custom-checkbox__content a {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #7B7B7B;
  text-decoration: underline;
}
.contact__form-btn {
  padding: 22px 60px;
}

@media (max-width: 1199px) {
  .contact {
    width: 98%;
  }
  .map__content {
    padding: 30px 50px;
  }
}
@media (max-width: 1080px) {
  .contact__form-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 30px;
  }
  .contact__form-bottom .custom-checkbox {
    max-width: 100%;
  }
  .contact__form-bottom .custom-checkbox br {
    display: none;
  }
}
@media (max-width: 992px) {
  .contact__form-inner {
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .contact__form-inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 12px;
  }
  .contact__form-group:nth-child(5) {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .contact {
    padding: 30px 20px;
    top: -690px;
  }
  .contact__head {
    margin-bottom: 30px;
  }
  .contact__head h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .contact__head p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact__left {
    gap: 10px;
  }
  .contact__left-row {
    gap: 10px;
  }
  .contact__left-row h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .contact__left-row a {
    font-size: 16px;
    line-height: 24px;
  }
  .contact__left-row p br {
    display: none;
  }
  .contact__socials a img {
    max-width: 40px;
  }
  .contact__form-group input {
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__form-group textarea {
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
  }
  .contact__form-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 400px) {
  .contact__form-btn {
    width: 100%;
    padding: 22px;
    text-align: center;
  }
  .contact__form-bottom .custom-checkbox__content {
    font-size: 12px;
    line-height: 21px;
  }
}
.footer__top {
  background-color: var(--white);
  padding: 80px 0;
}
.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.footer__left {
  width: 100%;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.footer__col h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #302B29;
  margin-bottom: 30px;
}
.footer__col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.footer__col ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #7B7B7B;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.footer__col ul li a:hover {
  color: #302B29;
}
.footer__right {
  width: 100%;
  max-width: 324px;
}
.footer__right h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #302B29;
  margin-bottom: 30px;
}
.footer__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}
.footer__right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 8px;
}
.footer__right ul li p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #302B29;
}
.footer__right ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  line-height: 25px;
  color: #302B29;
}
.footer__right ul li a svg {
  width: 20px;
  height: 20px;
  fill: var(--orange);
}
.footer__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #302B29;
}
.footer__bottom {
  background-color: #F1F5F9;
  padding: 20px 0;
}
.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__bottom-inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #C5C3C3;
}
.footer__bottom-links {
  width: 100%;
  max-width: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.footer__bottom-links a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #C5C3C3;
}

@media (max-width: 992px) {
  .footer__top-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .footer__left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .footer__top {
    padding: 30px 0;
  }
  .footer__left {
    max-width: 320px;
    row-gap: 30px;
  }
  .footer__col h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .footer__col ul {
    gap: 15px;
  }
  .footer__col ul li a {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__right h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .footer__right ul li a {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__right ul li p {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__bottom {
    padding: 14px 0;
  }
  .footer__bottom p {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer__boottom-links a {
    font-size: 16px;
    line-height: 22px;
  }
}
